.env
__pycache__/database_manager.cpython-313.pyc
__pycache__/point_manager.cpython-313.pyc
__pycache__/statistics_system.cpython-313.pyc
data/guilds/test_guild_123.db
logs/database.log
__pycache__/fishing.cpython-312.pyc
__pycache__/
scan_result.txt
data/pet_config.json
.vscode/settings.json
temp_bait.txt
temp_catch.txt
temp_catch_def.txt
temp_execute_fishing.txt
temp_fish_rate.txt
temp_pull.txt
temp_search.txt
temp_maxd.txt
temp_2504.txt
temp_2950.txt
temp_2950_2.txt
temp_fish_data.txt
temp_get.txt
temp_get_check.txt
temp_other_get.txt
temp_user_2504.txt
temp_user_2952.txt
temp_user_data_2381.txt
temp_view.txt
temp_3090.txt
temp_3105.txt
temp_command_name.txt
diff.txt
temp_3105_2.txt
temp_3120.txt
temp_check_revert.txt
temp_random_view.txt
temp_random_view_2.txt
temp_random_view3.txt
temp_upgrade.txt
temp_upgrade2.txt
temp_upgrade3.txt
*.txt
